#Ignore files that will need to be changed locally
.DS_Store
.htaccess
robots.txt
/nbproject/
/.sass-cache/
/node_modules/
/build/
/releases/
/vendor/
composer.lock
Gemfile.lockdocker/.env

tests/playwright/node_modules/
tests/.phpunit.result.cache
tests/playwright/playwright-report/
tests/playwright/test-results/
